.title {
    text-align: center;
}
ul {
    font-size: 17px;
    gap: 25px;
}
nav {
    font-weight: 600;
    
}
.navbar {
    background-color: hsla(0, 0%, 100%, 0.421);
}

.navbar-collapse {
    margin-left: 60% ;
}
a {
    text-transform: uppercase;    
}
a:hover {
    border-radius: 8px;
    font-size: large;
    background-color: rgb(151, 178, 217);
